body {
    background-color: rgb(230, 232, 235);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
